<marketplace-menu></marketplace-menu>
<div
  class="sm:pl-[34vw] md:pl-[28vw] lg:pl-[22vw] 2xl:pl-[280px] min-h-screen grid place-content-center">
  <ng-container *ngIf="pkg$ | async as pkg; else loading">
    <ng-container *ngIf="pkg | empty; else show">
      <div *ngIf="version$ | async as version">
        <a [routerLink]="'/'" class="cursor-pointer">
          <img
            alt="Close circle outline"
            src="/svg/close-circle-outline.svg"
            class="opacity-70 invert m-auto mb-2"
            width="38px"
            height="38px" />
        </a>
        <h2 class="text-xl">
          {{ pkgId }} @{{ version === '*' ? 'latest' : version }} not found on
          this registry
        </h2>
      </div>
    </ng-container>

    <ng-template #show>
      <div [@tuiFadeIn]="getAnimation(speed)">
        <div class="grid gap-8 mb-16 p-4 lg:px-16 lg:pb-8 pt-14 justify-center">
          <a [routerLink]="'/'" class="cursor-pointer justify-self-start mb-10">
            <img
              alt="Close circle outline"
              src="/svg/arrow-back-circle-outline.svg"
              class="opacity-70 invert"
              width="38px"
              height="38px" />
          </a>
          <marketplace-package-hero [pkg]="pkg"></marketplace-package-hero>
          <marketplace-package-screenshots
            [pkg]="pkg"></marketplace-package-screenshots>
          <div class="grid grid-cols-1 2xl:grid-cols-12 gap-x-8">
            <div class="col-span-12 2xl:col-span-8">
              <marketplace-about [pkg]="pkg"></marketplace-about>
              <div
                *ngIf="!(pkg.manifest.dependencies | empty)"
                class="rounded-xl bg-gradient-to-bl from-zinc-400/75 to-zinc-600 p-px shadow-lg shadow-zinc-400/10 mt-6">
                <div
                  class="lg:col-span-5 xl:col-span-4 bg-zinc-800 rounded-xl p-7">
                  <h2 class="text-lg font-bold small-caps my-2 pb-3">
                    Dependencies
                  </h2>
                  <div class="grid grid-row-auto gap-3">
                    <div
                      *ngFor="let dep of pkg.manifest.dependencies | keyvalue">
                      <a [routerLink]="['/', dep.key]">
                        <marketplace-dependencies
                          [dep]="dep"
                          [pkg]="pkg"></marketplace-dependencies>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <release-notes [pkg]="pkg"></release-notes>
            </div>
            <div class="col-span-12 2xl:col-span-4 mt-6 2xl:mt-0">
              <marketplace-additional
                class="additional"
                [pkg]="pkg"
                (version)="version$.next($event)"></marketplace-additional>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ng-container>

  <ng-template #loading>
    <text-spinner text="Loading Package"></text-spinner>
  </ng-template>
</div>
