.package-wrapper {
  min-height: 100vh;
  display: grid;
  justify-content: center;

  @media (min-width: 768px) {
    padding-left: 17rem;
  }

  @media (min-width: 1536px) {
    padding-left: 18rem;
  }
}

.not-found {
  &-wrapper {
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
  }

  &-inner {
    border: 1px solid rgb(var(--tw-color-zinc-600));
    padding: 1.75rem;
    background-color: rgb(var(--tw-color-zinc-800));
    border-radius: 0.75rem;
    position: relative;

    a {
      position: absolute;
      right: 10px;
      top: 10px;
    }

    code {
      padding-top: 0.75rem;
      font-size: 1rem;
      line-height: 1.75rem;
    }

    p {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }
}

img {
  opacity: 0.7;
  filter: invert(100%);
}

a {
  cursor: pointer;
}

.button-close {
  margin: auto;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.package-container {
  width: 100vw;
  display: grid;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;
  padding: 1.5rem;

  @media (max-width: 500px) {
    margin-top: var(--mobile-header-height);
  }

  @media (min-width: 640px) {
    width: 65vw;
  }

  @media (min-width: 1024px) {
    padding: 2rem 4rem 2rem 4rem;
  }

  @media (min-width: 1536px) {
    width: 75vw;
  }
}

.button-back {
  justify-self: start;
}

.package-details {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.package-details {
  -moz-column-gap: 2rem;
  column-gap: 2rem;

  &-main {
    grid-column: span 12 / span 12;
  }

  &-additional {
    grid-column: span 12 / span 12;
  }

  @media (min-width: 1536px) {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    &-main {
      grid-column: span 8 / span 8;
    }
    &-additional {
      grid-column: span 4 / span 4;
      margin-top: 0px;
    }
  }
}

@media (max-width: 500px) {
  tui-carousel {
    --tui-carousel-padding: 0rem;
  }
}
