::ng-deep menu {
  margin: 0;
  padding: 0;
}

::ng-deep button {
  background-color: transparent;
  background-image: none;
}

.settings-button {
  margin-top: -0.75rem;
  &:hover {
    opacity: 0.7;
  }
}

.settings-button-mobile {
  display: flex;
  gap: 0.5rem;
  position: relative;
  padding: 1.25rem;

  &:hover {
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
  }

  img {
    opacity: 0.7;
    filter: invert(100%);
  }

  span {
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgb(var(--tw-color-zinc-50) / 1);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
