<menu [iconConfig]="marketplace">
  <button
    slot="desktop"
    tuiButton
    type="button"
    appearance="icon"
    [pseudoFocus]="false"
    icon="tuiIconRepeatLarge"
    class="settings-button"
    (click)="presentModalMarketplaceSettings()"></button>
  <a
    slot="mobile"
    (click)="presentModalMarketplaceSettings()"
    class="settings-button-mobile">
    <img
      alt="Change Registry Icon"
      width="24"
      height="24"
      src="svg/repeat-outline.svg" />
    <span> Change Registry </span>
  </a>
</menu>
