<div class="marketplace-wrapper">
  <main>
    <div class="category-wrapper">
      <h1>
        {{ category$ | async | titlecase }}
      </h1>
    </div>
    <ng-container *ngIf="store$ | async as store; else loading">
      <section
        class="packages"
        *ngIf="
          store.packages
            | filterPackages
              : (query$ | async)
              : (category$ | async) as filtered
        ">
        <ul [@itemAnimation]="filtered.length">
          <li *ngFor="let pkg of filtered">
            <a [routerLink]="pkg.manifest.id">
              <marketplace-item [pkg]="pkg"></marketplace-item>
            </a>
          </li>
        </ul>
      </section>
    </ng-container>
    <ng-template #loading>
      <h1 class="loading-header">Loading...</h1>
    </ng-template>
  </main>
</div>
