<ion-content class="ion-padding ion-text-center">
  <ion-grid class="g-content">
    <ion-row *ngIf="selected$ | async as selected" class="heading">
      <ion-col size="12">
        <img src="assets/img/icon.png" alt="" class="icon" />
        <h1 class="montserrat">{{ selected.name }}</h1>
        <ion-button
          *ngIf="alternative$ | async as store"
          fill="clear"
          color="dark"
          (click)="toggle(store.url)"
        >
          <ion-icon slot="start" name="repeat"></ion-icon>
          Switch to {{ store.name }}
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <marketplace-search [(query)]="query"></marketplace-search>
        <ng-container *ngIf="store$ | async as store; else loading">
          <marketplace-categories
            [categories]="store.info.categories"
            [category]="query ? '' : category"
            (categoryChange)="onCategoryChange($event)"
          ></marketplace-categories>

          <div class="divider"></div>

          <ion-grid
            *ngIf="store.packages | filterPackages: query:category as filtered"
          >
            <ion-row>
              <ion-col
                *ngFor="let pkg of filtered"
                sizeXs="12"
                sizeSm="12"
                sizeMd="6"
              >
                <marketplace-item [pkg]="pkg"></marketplace-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ng-container>

        <ng-template #loading>
          <marketplace-skeleton></marketplace-skeleton>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
