<header
  class="w-full fixed z-50 sm:w-[34vw] md:w-[28vw] lg:w-[22vw] 2xl:w-[280px] sm:bg-white/10 sm:backdrop-blur-2xl sm:min-h-screen overflow-y-auto flex flex-col sm:py-6 sm:after:block sm:after:absolute sm:after:top-0 sm:after:bottom-0 sm:after:right-0 sm:after:w-0.5 after:h-[calc(100vh - 20px)] sm:after:bg-gradient-to-b from-folly to-lime drop-shadow-md">
  <ng-container *ngIf="store$ | async as store; else loading">
    <div class="hidden sm:flex flex-col mx-6 items-center">
      <a href="/" class="pb-3">
        <img
          alt="Registry Icon"
          class="w-16 rounded-full"
          src="assets/img/{{ store.icon }}" />
      </a>
      <h1 class="font-semibold text-2xl text-zinc-100 text-center py-4">
        {{ store.info.name }}
      </h1>
      <!-- desktop search -->
      <marketplace-search [(query)]="query"></marketplace-search>
    </div>
    <div class="overflow-x-hidden overflow-y-hidden flex flex-col grow">
      <!-- mobile header -->
      <div
        class="sm:hidden flex flex-col bg-white/10 backdrop-blur-3xl backdrop-saturate-150 border-b border-black/5"
        style="transform: translateX(0px) translateZ(0px)">
        <div class="flex">
          <div class="flex justify-between py-4 px-4 w-[100vw]">
            <!-- mobile search -->
            <marketplace-search
              class="max-w-fit"
              [(query)]="query"></marketplace-search>
            <button
              aria-label="Menu"
              tuiButton
              type="button"
              (click)="toggle(true)"
              (tuiActiveZoneChange)="toggle($event)">
              <img
                alt="Registry Icon"
                class="w-9 rounded-full"
                src="assets/img/{{ store.icon }}" />
              <nav
                *tuiSidebar="open; direction: 'right'; autoWidth: true"
                class="bg-zinc-800 h-screen">
                <div class="flex grow flex-col p-5">
                  <div class="flex grow flex-col">
                    <div class="flex pb-3">
                      <h1 class="font-semibold text-xl text-zinc-200 flex-grow">
                        {{ store.info.name }}
                      </h1>
                      <button
                        aria-label="Menu"
                        tuiButton
                        type="button"
                        (click)="toggle(false)">
                        <img
                          alt=""
                          loading="lazy"
                          width="24"
                          height="24"
                          decoding="async"
                          data-nimg="1"
                          class="transition block opacity-70 invert"
                          style="color: transparent"
                          src="svg/close-outline.svg" />
                      </button>
                    </div>
                    <marketplace-categories
                      [categories]="store.info.categories"
                      [category]="query ? '' : category"
                      (categoryChange)="
                        onCategoryChange($event); toggle(false)
                      "></marketplace-categories>
                    <a
                      class="flex relative gap-2 hover:no-underline rounded-r-lg transition-colors before:transition-colors ease-in-out mb-2 p-2 scale sm:pl-6 sm:border-l-0 sm:before:absolute sm:before:h-[calc(100%-4px)] sm:before:top-[2px] sm:before:left-[-5px] sm:before:w-[10px] sm:before:rounded-full sm:before:transition-colors text-black/70 sm:hover:before:bg-black/25 2xl:before:hidden false"
                      target="_blank"
                      href="https://github.com/Start9Labs/service-pipeline#readme"
                      ><div class="relative flex flex-shrink-0">
                        <img
                          alt=""
                          loading="lazy"
                          width="24"
                          height="24"
                          decoding="async"
                          data-nimg="1"
                          class="transition block opacity-70 invert"
                          style="color: transparent"
                          src="svg/rocket-outline.svg" />
                      </div>
                      <span
                        class="text-zinc-50 text-ellipsis overflow-hidden whitespace-nowrap"
                        >Launch your project</span
                      ></a
                    >
                  </div>
                  <button
                    class="flex relative gap-2 hover:no-underline rounded-r-lg transition-colors before:transition-colors ease-in-out mb-2 p-2 scale sm:pl-6 sm:border-l-0 sm:before:absolute sm:before:h-[calc(100%-4px)] sm:before:top-[2px] sm:before:left-[-5px] sm:before:w-[10px] sm:before:rounded-full sm:before:transition-colors text-black/70 sm:hover:before:bg-black/25 2xl:before:hidden false"
                    *ngIf="alternative$ | async as store"
                    (click)="toggleMarketplace(store.url); toggle(false)">
                    <div class="relative flex flex-shrink-0">
                      <img
                        alt=""
                        loading="lazy"
                        width="24"
                        height="24"
                        decoding="async"
                        data-nimg="1"
                        class="transition block opacity-70 invert"
                        style="color: transparent"
                        src="svg/storefront.svg" />
                    </div>
                    <span
                      class="text-zinc-50 text-ellipsis overflow-hidden whitespace-nowrap"
                      >Switch Marketplaces</span
                    >
                  </button>
                </div>
              </nav>
            </button>
          </div>
        </div>
      </div>
      <!-- desktop nav -->
      <nav class="hidden sm:flex grow flex-col py-3 pr-4">
        <div class="flex grow flex-col justify-between">
          <div>
            <a
              class="flex relative gap-2 hover:no-underline rounded-r-lg transition-colors before:transition-colors ease-in-out mb-2 p-2 scale sm:pl-6 sm:border-l-0 sm:before:absolute sm:before:h-[calc(100%-4px)] sm:before:top-[2px] sm:before:left-[-5px] sm:before:w-[10px] sm:before:rounded-full sm:before:transition-colors text-black/70 sm:hover:before:bg-black/25 2xl:before:hidden text-primary"
              target="_self"
              href="/"
              ><div
                class="!hidden sm:!block 2xl:!hidden top-1/2 -translate-y-1/2 absolute w-[10px] left-[-5px] bg-primary rounded-full"
                style="
                  height: calc(100% - 4px);
                  opacity: 1;
                  display: block;
                "></div>
              <div class="relative flex flex-shrink-0">
                <div
                  class="absolute w-full h-full top-0 left-0 bg-primary rounded-[0.35rem]"
                  style="opacity: 1; transform: none"></div>
                <img
                  alt="Compass icon"
                  width="24"
                  height="24"
                  class="transition block opacity-70 invert"
                  style="color: transparent"
                  src="svg/compass-outline.svg" />
              </div>
              <span
                class="text-zinc-50 text-ellipsis overflow-hidden whitespace-nowrap"
                >Discover</span
              ></a
            >
            <marketplace-categories
              [categories]="store.info.categories"
              [category]="query ? '' : category"
              (categoryChange)="
                onCategoryChange($event)
              "></marketplace-categories>
            <a
              class="flex relative gap-2 hover:no-underline rounded-r-lg transition-colors before:transition-colors ease-in-out mb-2 p-2 scale sm:pl-6 sm:border-l-0 sm:before:absolute sm:before:h-[calc(100%-4px)] sm:before:top-[2px] sm:before:left-[-5px] sm:before:w-[10px] sm:before:rounded-full sm:before:transition-colors text-black/70 sm:hover:before:bg-black/25 2xl:before:hidden false"
              target="_blank"
              href="https://github.com/Start9Labs/service-pipeline#readme"
              ><div class="relative flex flex-shrink-0">
                <img
                  alt="Rocket Icon"
                  width="24"
                  height="24"
                  class="transition block opacity-70 invert"
                  style="color: transparent"
                  src="svg/rocket-outline.svg" />
              </div>
              <span
                class="text-zinc-50 text-ellipsis overflow-hidden whitespace-nowrap"
                >Launch your project</span
              ></a
            >
          </div>
          <button
            class="flex relative gap-2 hover:no-underline rounded-r-lg transition-colors before:transition-colors ease-in-out mb-2 p-2 scale sm:pl-6 sm:border-l-0 sm:before:absolute sm:before:h-[calc(100%-4px)] sm:before:top-[2px] sm:before:left-[-5px] sm:before:w-[10px] sm:before:rounded-full sm:before:transition-colors text-black/70 sm:hover:before:bg-black/25 2xl:before:hidden false"
            *ngIf="alternative$ | async as store"
            (click)="toggleMarketplace(store.url)">
            <div class="relative flex flex-shrink-0">
              <img
                alt="Storefront Icon"
                width="24"
                height="24"
                class="transition block opacity-70 invert"
                style="color: transparent"
                src="svg/storefront.svg" />
            </div>
            <span
              class="text-zinc-50 text-ellipsis overflow-hidden whitespace-nowrap"
              >Switch Marketplaces</span
            >
          </button>
        </div>
      </nav>
    </div>
  </ng-container>
</header>

<!-- main content -->
<div
  class="sm:pl-[34vw] md:pl-[28vw] lg:pl-[22vw] 2xl:pl-[280px] min-h-screen flex flex-col justify-between overflow-scroll">
  <main
    class="pt-20 sm:pt-3 md:pb-10 md:px-8"
    *ngIf="store$ | async as store; else loading">
    <div class="mt-8 px-6 mb-10">
      <div class="" style="opacity: 1; transform: none">
        <h1 class="text-4xl sm:text-5xl font-bold text-zinc-50/80 pb-6">
          {{ category | titlecase }}
        </h1>
      </div>
      <div class="" style="opacity: 1; transform: none"></div>
    </div>
    <section
      class="mt-10"
      *ngIf="store.packages | filterPackages : query : category as filtered">
      <ul
        class="px-6 md:px-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 md:gap-12"
        [@itemAnimation]="filtered.length">
        <li #myElement *ngFor="let pkg of filtered">
          <a [routerLink]="['/marketplace', pkg.manifest.id]">
            <div class="flex items-center gap-3">
              <div
                #shinyBox
                (mousemove)="shinyHover($event)"
                class="group flex flex-col relative rounded-3xl pt-20 pb-10 px-8 gap-4 shadow-xl shiny">
                <div
                  class="overflow-hidden absolute w-full h-full top-0 left-0 -z-50 rounded-3xl bg-black">
                  <div
                    class="absolute top-0 left-0 w-full h-full bg-center"
                    style="
                      background: linear-gradient(
                          135deg,
                          rgba(255, 255, 255, 0.2) 25%,
                          transparent 25%
                        ),
                        linear-gradient(
                          225deg,
                          rgba(255, 255, 255, 0.2) 25%,
                          transparent 25%
                        ),
                        linear-gradient(
                          315deg,
                          rgba(255, 255, 255, 0.2) 25%,
                          transparent 25%
                        ),
                        linear-gradient(
                          45deg,
                          rgba(255, 255, 255, 0.2) 25%,
                          transparent 25%
                        );
                      background-size: 20px 20px;
                    "></div>
                  <img
                    [src]="'data:image/png;base64,' + pkg.icon | trustUrl"
                    class="absolute object-cover pointer-events-none w-[200%] h-[200%] max-w-[200%] blur-[100px] saturate-150"
                    alt="{{ pkg.manifest.title }} Icon"
                    style="
                      transform: translateX(-62.7734px) translateY(-86.5888px)
                        translateZ(0px);
                    " />
                </div>
                <img
                  [src]="'data:image/png;base64,' + pkg.icon | trustUrl"
                  class="w-[5.5rem] h-[5.5rem] pointer-events-none absolute -top-10 rounded-full object-cover shadow-xl"
                  alt="{{ pkg.manifest.title }} Icon"
                  style="transform: none" />
                <div class="mt-3">
                  <span
                    class="block text-2xl font-medium text-zinc-50/90 line-clamp-1 mb-1"
                    >{{ pkg.manifest.title }}</span
                  ><span class="block text-zinc-50/70 h-11 line-clamp-2">{{
                    pkg.manifest.description.short
                  }}</span>
                </div>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </section>
  </main>
  <ng-template #loading>
    <marketplace-skeleton></marketplace-skeleton>
  </ng-template>
</div>
