@import '@taiga-ui/core/styles/taiga-ui-local';

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  src: url('/assets/fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: thin;
  src: url('/assets/fonts/Montserrat/Montserrat-Light.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  src: url('/assets/fonts/Open_Sans/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: thin;
  src: url('/assets/fonts/Open_Sans/OpenSans-Light.ttf');
}

@font-face {
  font-family: 'Redacted';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Redacted/redacted.regular.ttf');
}

@font-face {
  font-family: 'League Spartan';
  src: url('/assets/fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf') format("truetype-variations");
  font-weight: 1 900;
}

:root {
  --tui-base-01: rgb(var(--tw-color-zinc-800)) !important;
  --tui-text-01: rgb(var(--tw-color-zinc-100)) !important;
  --tui-carousel-padding: 0.5rem;
  --tui-font-heading: 'Open Sans';
  --tui-font-text: 'Open Sans';
  --portal-header-height: 0px;
}

html, body {
  background: rgb(var(--tw-color-zinc-800)) url('/assets/img/background.png') no-repeat top right fixed !important;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-attachment: fixed;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.externalLink {
  color: #3dc2ff;
}

ul {
  padding-left: 40px;
  list-style-type: disc;
}

.small-caps {
  font-variant: all-small-caps;
}

a {
  color: inherit;
  text-decoration: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
hr,
p {
  margin: 0;
}