.registry-settings {
  display: flex;
  flex-direction: column;
  h3 {
    padding-bottom: 1.25rem;
  }
  tui-select {
    padding-bottom: 1.25rem;
  }
}

store-icon {
  margin-right: 0.5rem;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
}
